*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
header, footer{
    text-align: center;
    background-color: blueviolet;
}
html, body, main{
    height: auto;
}

.cabecalho_titulo{
    padding: 30px 0 20px 0;
}

main{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 1rem;
    justify-content: space-around;
    min-height: 100vh;
}

.estoque {
    text-align: center;
    max-width:60%;
}

.estoque_lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
}

.produto_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none; 
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin: 16px;
    width: 170px;
    text-align: center;
    background-color: blueviolet;
}

.produto_card img {
    max-width: 100%;
    border-radius: 8px;
}
.card_info{
    display: flex;
    flex-direction: column;
}
.nome {
    margin: 10px 0;
}
.card_info_info{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.preco {
    color: rgb(4, 61, 4);
    font-size: 1.5em;
}
.adicionar {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
}
.adicionar_input {
    display: flex;
    flex-direction: column;
}
.adicionar_input input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.adicionar_button{
    display: flex;
    justify-content: space-around;
}

.adicionar_button button{
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
}

footer{
    padding: 5px 0;
    margin:20px 0 0 0;
}